<h1>My Stock Portfolio</h1>

<table>
<% @portfolios.each do |p|%>
  <tr>
    <td>
    <%=p.name%>

    <%=link_to "Show", stock_path(p)%>
    <%=link_to "Edit", edit_stock_path(p)%>
    <%=link_to "Delete", stock_path(p), :method => :delete %>

    </td>
    </tr>
    <%end%>

</table>
<p>
<%=link_to "Create", new_stock_path%>
</p>