<h3>Name: <%=@portfolio.name%></h3>
<br>
<h3>Orgprice: <%=@portfolio.orgprice%></h3>
<br>
<h3>Shares: <%=@portfolio.shares%></h3>
<br>
<h3>Curprice: <%=@portfolio.curprice%></h3>
<br>
<h3>Gain: <%=@portfolio.profit%></h3>


<%= link_to "Main", stocks_path %>
